:root{
    --app-background: rgb(53, 53, 76);
    --dark-background: rgba(9, 11, 25, 0.718);
    --darker-background: rgba(9, 11, 25, 0.848);
    --lightest-grey-txt: rgb(209, 217, 227);
    --lighter-grey-txt: rgb(188, 195, 205);
    --blue-txt: rgb(142, 204, 255);
    --blue-txt-shadow: rgba(15, 147, 255, 0.409);

    --green-icon: rgb(72,252,120);
    --yellow-icon: rgb(236,183,119);
    --hot-pink-icon: rgb(242,71,145);
    --purple-icon: rgb(129,23,162);
    --blue-icon: rgb(24,145,255);
}


.App {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-smooth: subpixel-antialiased;
}

/* BODY */
body {
  background-color: var(--app-background)!important;
  background-size: cover;
}

/* TOP MENU BAR */
header {
  background-color: var(--darker-background)!important;
}
#menu-icon {
  color: var(--lightest-grey-txt);
}
#current-date {
  margin: 0 55px 0 70px;
  color: var(--lighter-grey-txt);
}

#current-time {
  margin: 0 0 0 0;
  color:  var(--lighter-grey-txt);
}

/* global module styling */
.module-header {
  margin: 0 5px 10px 5px !important;
}

/* ALL Dashboard MODULES */
#module1,
#module2,
#module3,
#module4,
#module5 {
  background-color: var(--dark-background);
  color: whitesmoke;
  margin: auto;
  margin-bottom: 5px;
  width: 85vw;
  position: static;
}
.white-text {
    color: rgba(245, 245, 245, 0.765)!important;
}

/* TIME + WEATHER MODULE */
#module5 {
  display: flex;
  flex-direction: column;
}
.weather-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--blue-txt);
}
#feels-like {
  display: flex;
  justify-content: center;
}
#main-temp-disp {
  display: flex;
  justify-content: center;
  font-size: 60px;
  text-shadow: -5px 5px 0  var(--blue-txt-shadow);
}
#weather-summary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
.weatherIcon {
  width: 100px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: 50px!important;
  border: 10px solid white;
}
.weatherDescr {
  font-size: 1px;
  /* text-transform: capitalize; */
  /* position: relative;
  top: -30px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#current-weather {
  /* margin-top: 10px; */
  display: flex;
  justify-content: center;
}
#high-low {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 3px;
}
.weather-params {
  display: flex;
  font-size: 14px;
  justify-content: center;
}


/* ASSIGNED / ACTIVE JOBS MODULES */
#jobslist,
.transparent {
  background-color: rgba(64, 65, 66, 0.505)!important;
}
/* .module-sub-head {
  font-family:
} */
.detail-button {
  height: 20px;
  padding: 0;
  margin: 0;
}

/* COMPLETED JOBS MODULE */

/* JOB DETAIL PAGE */

/* JOB FORM */
.form-flex {
  display: flex;
  flex-direction: column;
}
.form-input-positioning {
 margin-bottom: 10px;
 /* padding-left: 10px; */
}


/* PUNCH CLOCK */
.Stopwatch {
  margin-left: 30px;
  margin-right: 30px;
  border: 2px solid grey;
  border-radius: 4px;
  padding: 20px;
  width: 200px;
  background-color: rgb(22, 27, 31);
  box-shadow: 0 3px 6px rgb(12, 12, 12);
}
.Stopwatch-header {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
button {
  background-color: #202b33;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
}
button:hover {
  background-color: #106ba3;
  transition-duration: 1s;
}
.Stopwatch button {
  padding: 12px 32px;
  font-size: 20px;
}
.Stopwatch-display {
  padding: 40px 0;
  font-size: 25px;
  color: white;
}
.Stopwatch-text {
  color: white;
}

.MuiTableCell-root:nth-child(last){
 border-bottom: none;
}


@media (max-width: 900px) {
  .Timers {
    flex-direction: column;

    align-items: center;
  }
}
@media (max-width: 900px) {
  .Stopwatch {
    margin-bottom: 40px;
  }
}
